relative-time {
	&::after {
		content: "(" attr(datetime) ")";
		margin-inline-start: 0.5ch;
		font-size: 90%;
		font-variant-numeric: tabular-nums;
	}
}

.notifications-list-item {
	relative-time {
		display: grid;
		justify-items: start;
		line-height: 1.6;
		margin-inline-start: 2ch;
		&::after {
			content: attr(datetime);
			margin: 0;
			max-width: 15ch;
			overflow: hidden;
		}
	}
	.AvatarStack {
		align-self: center;
	}
}
