relative-time {
	&::after {
		content: "(" attr(datetime) ")";
		margin-inline-start: 0.5ch;
		font-size: 90%;
		font-variant-numeric: tabular-nums;
	}
}

/* notifications */
.notifications-list-item {
	relative-time {
		display: grid;
		justify-items: start;
		line-height: 1.6;
		margin-inline-start: 2ch;
		&::after {
			content: attr(datetime);
			margin: 0;
			max-width: 15ch;
			overflow: hidden;
		}
	}
	.AvatarStack {
		align-self: center;
	}
}

/* repositories */
.react-last-commit-oid-timestamp {
	align-items: center;

	relative-time {
		display: grid;
		justify-items: start;
		line-height: 1.4;
		&::after {
			content: attr(datetime);
			font-size: 85%;
			margin: 0;
			max-width: 15ch;
			overflow: hidden;
		}
	}
}
.react-directory-commit-age {
	relative-time {
		display: grid;
		justify-items: start;
		font-size: 90%;
		line-height: 1.4;
		&::after {
			content: attr(datetime);
			font-size: 85%;
			margin: 0;
			max-width: 15ch;
			overflow: hidden;
		}
	}
}

/* actions */
span:has(> .octicon-calendar) {
	.octicon-calendar {
		vertical-align: text-top;
	}
	relative-time {
		display: inline-grid;
		justify-items: start;
		line-height: 1.4;
		&::after {
			content: attr(datetime);
			font-size: 85%;
			margin: 0;
			max-width: 15.2ch;
			overflow: hidden;
		}
	}
}
